h2{color:blue; font-size:40px; text-align: center;}
p{color:green; font-size:18px;}
h2{color:red; font-size: 25px;}
ul{color:blue; font-size:18px;}
body{background-color:lightblue;}
h1{color:blue; front-size:40px; text-align:center;}
body{font-family: Arial;}
p{line-height: 1.8;}
h1{color:blue; font-size:40px; text-align:center;}
p{color:red; font-size:20xp; line-height: 1.8;}
p{margin-top:70px;}
p{padding: 50px;}
p{border: 2px solid black; border-radius: 10px;}
p{font-weight: bold;}
h1{display:block;}
span{display:block;}